@font-face {
    font-family: Permanet;
    src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Bubble;
    src: url(../fonts/BubblegumSans-Regular.ttf);
}

* {
    box-sizing: border-box;
}

/* Basic */

button {
    cursor: pointer;
}

/* Helper */

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.flex-warp {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.inline-grid {
    display: inline-grid;
}

/* all */

.main-header {
    height: 65px;
    background-color: #ff7f00;
    margin-bottom: 10px;
}

.logo {
    width: 133px;
    height: 22px;
}

.main-nav a {
    text-decoration: none;
    color: #ffffff;
}

.search-container {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.search-container input {
    border: none;
    border-bottom: 1px solid black;
    width: 300px;
    text-align: center;
}

.search-key li {
    padding: 10px;
}

.gallery-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.gallery-container img {
    width: 165px;
    height: 165px;
    padding: 10px;
}

.contact-detailes-container {
    display: flex;
    flex-direction: column;
}

.contact-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-area img {
    width: 200px;
    height: 200px;
}

.contact-area h3 {
    text-align: center;
    color: #ff7f00;
    font-family: montserrat sans-serif;
}

.contact-area p {
    text-align: center;
    width: 200px;
    font-family: Bubble;
}

.social-area i {
    padding: 10px;
    font-size: 30px;
    color: #ff7f00;
}

.footer-container {
    height: 205px;
    background-color: #ff7f00;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container .logo {
    margin: 10px;
}

.footer-container span {
    color: white;
    font-family: Montserrat;
}

/* editor page */

canvas {
    border: 1px solid black;
}

.edit-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'txt txt txt txt txt''. upDown add trash .' 'increaseFont decreaseFont left center right' 'font font font stroke paint' 'imoji imoji imoji imoji imoji' ' share share save download download';
    width: 350px;
    justify-items: center;
}

.edit-container button:not(.share-btn, .download-btn) {
    width: 40px;
    height: 41px;
    border-radius: 12px;
    background-color: #ffffff;
}

.edit-container img {
    width: 26px;
    height: 26px;
}

.meme-txt {
    text-align: center;
    grid-area: txt;
    width: 300px;
    border-radius: 20px;
    padding: 0px;
    margin: 15px;
}

.up-down-btn {
    grid-area: upDown;
}

.add-btn {
    grid-area: add;
}

.trash-btn {
    grid-area: trash;
}

.increase-font-btn {
    grid-area: increaseFont;
}

.decrease-font-btn {
    grid-area: decreaseFont;
}

.left-btn {
    grid-area: left;
}

.center-btn {
    grid-area: center;
}

.right-btn {
    grid-area: right;
}

.font-select {
    grid-area: font;
    width: 171px;
    height: 40px;
    border-radius: 12px;
    background-color: #ffffff;
}

.stroke-btn {
    grid-area: stroke;
}

.paint-btn {
    grid-area: paint;
}

.imoji-select {
    grid-area: imoji;
    width: 303px;
    height: 55px;
    border-radius: 12px;
    background-color: #ffffff;
    font-size: 30px;
    text-align-last: center;
}

.share-btn {
    grid-area: share;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    background-color: #ff7f00;
    color: #ffffff;
    font-family: Montserrat;
    margin:10px;
}

.save-btn {
    grid-area: save;
    border: none;
    margin:10px;
}

.save-btn i {
    font-size: 30px;
    color: #ff7f00;
}

.download-btn {
    grid-area: download;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    background-color: #ff7f00;
    margin:10px;
}

.download-btn a {
    width: 120px;
    height: 40px;
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
}

/* Memes gallery */

.save-memes-container {
    top: 10vh;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
}

/* MEDIA */

@media (min-width: 300px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 700px) {
    .gallery-container {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-area {
        flex-direction: row;
        justify-content: center;
    }
    .main-nav a {
        margin-right: 10px;
    }
    .search-container {
        flex-direction: row;
    }
}

@media (min-width: 1100px) {
    .btn-menu {
        display: none;
    }
    .main-container {
        flex-direction: row;
        justify-content: center;
        padding: 10vh;
    }
    canvas {
        width: 500px;
        height: 500px;
    }
    .main-nav {
        font-family: Montserrat;
        color: #ffffff;
        cursor: pointer;
    }
    .main-nav a:hover {
        font-size: 18px;
        transition: font-size .4s;
    }
    .contact-area {
        padding: 50px;
    }
    .logo:hover {
        width: 140px;
        height: 30px;
        transition: width .4s;
        transition: height .4s;
        cursor: pointer;
    }
    .gallery-container img:hover {
        border: 2px solid #d69451c9;
        border-radius: 12px;
        transition: border .3s;
    }
}

@media (max-width: 1100px) {
    .main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(240, 213, 172, 0.953);
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.4s;
    }
    body.menu-open .main-screen {
        pointer-events: unset;
        opacity: 1;
    }
    .main-nav {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgba(155, 155, 155, 0.692);
        height: 100vh;
        border-left: 1px solid #5d5c5c;
        box-shadow: -3px -1px 7px 0px #9e9e9e;
        transform: translateX(100%);
        transition: transform .6s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
    }
    .main-nav a {
        display: block;
        width: 200px;
        text-align: center;
        border-bottom: 1px solid #5d5c5c;
        padding: 20px;
    }
    .main-nav a:hover {
        background-color: #706f6fba;
        transition: background-color .3s;
        cursor: pointer;
    }
}

/* Saved memes Modal */

.saved-memes-container {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    background-color: #d69451c9;
    opacity: 0;
}

body.memes-open .saved-memes-container {
    opacity: 1;
}

.main-container {
    display: none;
}

body.editor-open .main-container {
    display: flex;
}

